body
{
	margin: 5vh;
	border: 1.5vh solid white;
	/*background-image:url("bg.jpg");*/
	background-color:#ffcc99;
	background-size:contain;
	outline:5vh solid lightgrey;
}
div.a
{
	background-color: white;
	width: 50vh;
	float: left;
	height: 75vh;
	margin-left:45vh;
	box-shadow: 15px 16px 16px 0 rgba(0, 0, 0, 0.2); /* add */
}
div.b
{
	background:white;
	width: 50vh;
	float: right;
	height: 75vh;
	margin-right: 45vh;
	margin-top: 12vh;
	box-shadow: inset 15px 8px 16px 0 rgba(0, 0, 0, 0.2); /* add */
}
.center
{
	border-radius: 40%;
	margin-top:20px;
	display:block;
	margin-left: auto;
	margin-right: auto;
}
p.name
{
	color: maroon;
	text-align:center;
	font-size:1.5em;
	margin-bottom:0vh;
}
#tagline
{
	font-size:1.1em;
	font-style:oblique;
	color:maroon;
	text-align:center;
	margin-top:0vh;
	font: ;
}
.text1
{
	color:#ff6666;
	margin-left:5vh;
	border-left: 0.6vh solid grey;
	padding-left:1vh;
	font-size:1.1em;

}
a.link
{
	color:#ff6666;
	font-size:1.1em;
}
p.text2
{
	color:#3399ff;
	font-size:1.1em;
	margin-left:3vh;
	border-left: 0.6vh solid grey;
	padding-left:1vh;
	margin-bottom:0vh;
}
li
{
	margin-top:0vh;
	color:#3399ff;
	font-size:1.1em;
	margin-left:1vh;
}
img.down
{
	margin-top:auto;
	padding-top:0vh;
	margin-left:auto;
	margin-right:auto;
	display:block;
	width:28vh;
	height:25vh;
}






/* Social Media CSS */
a {
    text-decoration: none;
    color: #fff;
}
p > a:hover{
    color: #d9d9d9;
    text-decoration:  underline;
}

ul {
    /*padding:0;*/
    list-style: none;
}
.footer-social-icons {
    width: 350px;
    display:block;
    margin: 0 auto;
}
.social-icon {
    color: #fff;
}
ul.social-icons {
    margin-top: 10px;
}
.social-icons li {
    vertical-align: top;
    display: inline;
    height: 100px;
}
.social-icons a {
    color: #fff;
    text-decoration: none;
}
.fa-facebook {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-facebook:hover {
    background-color: #3d5b99;
}
.fa-twitter {
    padding:10px 12px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-twitter:hover {
    background-color: #00aced;
}
.fa-youtube {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-youtube:hover {
    background-color: #e64a41;
}
.fa-linkedin {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-linkedin:hover {
    background-color: #0073a4;
}






/* Photo Effect css */
img:hover {
  opacity: 0.3;
}